<%= form_with url: "/teams", method: :post, local: true do |form| %>
  <p><%= form.label :name, "Name:" %></p>
    <%= form.text_field :name %>
  <p><%= form.label :city, "City:" %></p>
    <%= form.text_field :city %>
  <p><%= form.label :position_in_standings, "Position in Standings:" %></p>
    <%= form.text_field :position_in_standings %>
  <p><%= form.label :stanley_cup, "Stanley Cup" %></p>
    <%= form.select :stanley_cup, [["Yes", true] , ["No", false]] %>
  <p> <%= form.submit "Create Team" %></p>
<% end %>