<h1>NHL Players</h1>
<br>
<% @players.each do |player| %>
<h2><%= player.name %></h2>
<p>Position: <%= player.position %></p>
<p>Jersey Number: <%= player.jersey_number %></p>
<p>Stanley Cup: <%= player.stanley_cup %></p>
<p><%= link_to "Edit #{player.name}", "/players/#{player.id}/edit" %> </p>
<% end %>