<!DOCTYPE html>
<html>
  <head>
    <title>NHL Teams and Their Players</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path 'nhl_logo.jpeg' %>
  </head>

  <body>
  <a href= "/teams">Teams page</a>
  <a href= "/players">Players page</a>
    <%= yield %>
  </body>
</html>
